<footer class="bg-dark text-light pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mb-3">
        <h5>Get to Know Us</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light text-decoration-none">About Us</a></li>
          <li><a href="#" class="text-light text-decoration-none">Careers</a></li>
          <li><a href="#" class="text-light text-decoration-none">Press Releases</a></li>
        </ul>
      </div>

      <div class="col-md-3 mb-3">
        <h5>Let Us Help You</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light text-decoration-none">Your Account</a></li>
          <li><a href="#" class="text-light text-decoration-none">Shipping Rates</a></li>
          <li><a href="#" class="text-light text-decoration-none">Returns & Replacements</a></li>
          <li><a href="#" class="text-light text-decoration-none">Customer Service</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="bg-secondary text-center py-3 mt-4">
    <p class="mb-0">&copy; 2024 ShopEase. All rights reserved.</p>
  </div>
</footer>
